
/*variable definitions*/
:root {
  --nameback:black;
  --backback:#FFFF82;
  --toggleback:black/*#399E5A*/;
  --genreback:#FFFF82;
  --projback:black/*#EE6352*/;
  --vh:1px;
}
/*-----------*/

/*---essentials---*/
#container{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction:column;
  position:fixed;
  flex-wrap:nowrap;
}
.row{
  flex:1;
  display: flex;
  flex-wrap:wrap;
}
.item{
  flex:1;
  position:relative;
  border:1px solid black;
  outline-offset: -1px;
  overflow:hidden;
}
#name{
  color:white;
  font-family: neuzeit-grotesk,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:70px;
  line-height:60px;
  position:absolute;
  left:15px;
  bottom:128px;
  height:0px;
  overflow:visible;
}
.card{
position:absolute;
width:100%;
height:100%;
}
/*---end of essentials----*/

/*block identifiers*/
.name{
  background-color: var(--nameback);
}
.back{
  background-color: var(--backback);
}
.proj{
  background-color: var(--projback);
}
.toggle{
  background-color: var(--toggleback);
  cursor:pointer;
}
/*end of block identifiers*/


/*projects*/
.b1{
  background-image: url(assets/bg1.jpg);
  background-size: cover;
  background-position:top
  background-repeat: no-repeat;
}
.b2{
  background-image: url(assets/bg2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.b3{
  background-image: url(assets/bg3.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
/*end of projects*/




/*genre blocks*/
.genretype{
  background-color: var(--genreback);
}
.genre{
  background-color: var(--genreback);
}
.genrehead{
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:30px;
  position:absolute;
  bottom:7px;
  right:10px;
  color:black;
}
.des{
}
.ill{
}
.exp{
}
.pho{
}

/*endd of genre blocks*/


/*name media queries*/
@media (max-width:1000px) and (min-width:800px),(max-width:630px){
  #name{
    transform: rotate(-90deg);
    width:0px;
    right:130px;
    left:inherit;
    bottom:10px;
  }
}
@media (max-height:400px){
  #name{
    font-size:50px;
    line-height:45px;
    left:15px;
    bottom:99px;
  }
}
@media (max-height:600px) and (max-width:1000px) and (min-width:800px),(max-height:600px) and (max-width:630px){
  #name{
    font-size:50px;
    line-height:45px;
    left:15px;
    bottom:99px;
    transform: rotate(0deg);
  }
}
/*end of name media queries*/
