
/*variable definitions*/
:root {
  --solidback:black;
  --nametype:white;
  --backcolor:#FFFF82;
  --outlinecolor: black/*rgb(255, 255, 255, 0)*/;
  --vh:1px;
}
/*-----------*/


/*---essentials---*/
#container{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction:column;
  position:fixed;
  flex-wrap:nowrap;
}
.row{
  flex:1;
  display: flex;
  flex-wrap:wrap;
}
.item{
  flex:1;
  position:relative;
  border:1px solid var(--outlinecolor);
  outline-offset: -1px;
  overflow:hidden;
}
#nametype{
  color:var(--nametype);
  font-family: neuzeit-grotesk,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:70px;
  line-height:60px;
  position:absolute;
  left:15px;
  bottom:128px;
  height:0px;
  overflow:visible;
}
.card{
position:absolute;
width:100%;
height:100%;
}
.smallheading{
  font-family: 'Fira Code', monospace;
  font-size:15px;
  line-height:19px;
}
/*---end of essentials----*/

/*block identifiers*/
.name{
  background-color: var(--solidback);
}
.back{
  background-color: var(--backcolor);
}
.proj{
  background-color: var(--solidback);
}
.toggle{
  background-color: var(--solidback);
}
/*end of block identifiers*/


/*projects*/
.thumb{
  width:100%;
  height:auto;
}

.projdesc{
  background-color:var(--solidback);
  width:calc(100% - 10px);
  height:30px;
  border-top:2px solid var(--outlinecolor);
  font-family: 'Fira Code', monospace;
  font-size:15px;
  line-height: 19px;
  position:absolute;
  bottom:0;
  padding-left: 10px;
  color:var(--nametype)
}

/*end of projects*/

/*genre blocks*/
.genretype{
  background-color: var(--solidback);
}
.genre{
  background-color: var(--solidback);
}
.genrehead{
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  line-height: 40px;
  color:var(--nametype);
  height:40px;
}

.genrehead:hover{
  text-decoration: underline;
  cursor:pointer;
}
#genreholder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headbox{
  width:100%;
  height:40px;
  display: flex;
  flex-direction: row;
  position:relative;
}
.arrowholder{
  width:20px;
  height:40px;
  position:relative;
}
.arrowline{
  position:relative;
  width:40px;
  height:40px;
}

.arrowsvg{
  height:40px;
  width:100%;
}

#designhead{
  justify-content: flex-start;
  /*
  transform-origin: 10% 50%;
  transform: rotate(45deg);
  */
}
#designheadm1{
  justify-content:flex-start;
}
#illustrationheadm1{
  justify-content:flex-start;
}
#experimentsheadm1{
  justify-content:flex-end;
}
#photoheadm1{
  justify-content:flex-start;
}
#illustrationhead{
  justify-content: flex-start;
  position:absolute;
  top:calc(50% - 20px);
}
#photohead{
  justify-content: flex-start;
  position:absolute;
  bottom:0;
}

.margincontainer{
  width:calc(100% - 40px);
  height:calc(100% - 40px);
  position:absolute;
  top:20px;
  left:20px;
  overflow:visible;
}

.wline{
  stroke:var(--nametype);
  stroke-width:2px;
}
.square{
  width:20px;
  height:20px;
  transform: rotate(45deg);
  border-top:2px var(--nametype) solid;
  border-right:2px var(--nametype) solid;
  position:absolute;
  top:calc(50% - 11px);
  left:-24px;
}
.rsquare{
  width:20px;
  height:20px;
  transform: rotate(-45deg);
  border-top:2px var(--nametype) solid;
  border-left:2px var(--nametype) solid;
  position:absolute;
  top:calc(50% - 11px);
  left:2px;
}


/*endd of genre blocks*/

/*background texture*/
.resvg{
  width:100%;
}
.line{
  stroke:var(--outlinecolor);
  stroke-width:2px;
}

.arrow{
  stroke:var(--outlinecolor);
  stroke-width:6px;
  fill:none;
}

.arrow1{
  position:absolute;
  top:calc(25% - 1px);
  left:calc(25% - 15px);
  width:30px;
  height:30px;
}
.arrow2{
  position:absolute;
  top:calc(25% - 1px);
  left:calc(50% - 15px);
  width:30px;
  height:30px;
}
.arrow3{
  position:absolute;
  top:calc(25% - 1px);
  left:calc(75% - 15px);
  width:30px;
  height:30px;
}

.textureborder{
  width:calc(100% - 30px);
  height:calc(100% - 30px);
  position:absolute;
  top:14px;
  left:14px;
  border:2px solid var(--outlinecolor);
  overflow:hidden;
}

/*end of background texture*/

/*-----toggle boxes------*/
.shuffle{
  width:105px;
  height:70px;
  position:absolute;
  right:0px;
  text-align: left;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size:20px;
  line-height: 24px;
  border:2px solid var(--nametype);
  color:var(--nametype);
  cursor:pointer;
  margin-top: 20px;
  margin-right: 20px;
  padding-top:8px;
  padding-left:10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.workplay{
  width:90px;
  height:70px;
  position:absolute;
  top:20px;
  right:125px;
  padding-top:8px;
  padding-right:10px;
  color:var(--nametype);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-size:20px;
  text-align: right;
  line-height: 25px;
  border-top:2px solid var(--nametype);
  border-bottom:2px solid var(--nametype);
  cursor:default;
}

.togsquare{
  width:12px;
  height:12px;
  transform: rotate(45deg);
  border-top:2px var(--nametype) solid;
  border-right:2px var(--nametype) solid;
  position:absolute;
  top:calc(50% - 6px);
  left:7px;
}
.toghover{
  cursor:pointer;
}
.toghover:hover{
  text-decoration: underline;
  cursor:pointer;
}

.worktog{
  position:relative;

}
.playtog{
  position:relative;
}

.shuffle:hover{
  background-color:var(--nametype);
  color:var(--solidback);
}
/*-----end of toggle boxes------*/
/*
@media(max-height:300px) and (max-width:900px){
  .genrehead{
    color:var(--solidback);
  }
  .arrowline{
    display:none;
  }
  .arrowsvg{
    display:none;
  }
  .square{
    border:var(--solidback) solid 2px;
  }
  .rsquare{
    border:var(--solidback) solid 2px;
  }

}
*/
/*name media queries*/
@media (max-width:1010px) and (min-width:900px),(max-width:630px){
  #nametype{
    transform: rotate(-90deg);
    width:0px;
    right:130px;
    left:inherit;
    bottom:10px;
  }
}
@media (max-height:400px){
  #nametype{
    font-size:50px;
    line-height:45px;
    left:15px;
    bottom:99px;
  }
}
@media (max-height:600px) and (max-width:1000px) and (min-width:800px),(max-height:600px) and (max-width:630px){
  #nametype{
    font-size:50px;
    line-height:45px;
    left:15px;
    bottom:99px;
    transform: rotate(0deg);
  }
}
/*end of name media queries*/

@media (min-width: 1220px){
  .genrehead{
    font-size: 30px;
  }
}

@media (max-width:1100px) and (min-width:900px) and (min-height:560px),(max-width:700px){
  .workplay{
    width:105px;
    top:88px;
    right:20px;
  }
  .togsquare{
    left:21px;
  }
}
@media (max-height:560px) and (max-width:1100px) and (min-width:900px),(max-width:700px) and (max-height:370px){
  .shuffle{
    font-size:15px;
    line-height:17px;
    width:80px;
    height:50px;
    padding-left:5px;
    padding-top:5px;
  }
  .workplay{
    top:20px;
    right:100px;
    font-size:15px;
    line-height:17px;
    width:65px;
    height:50px;
    padding-left:5px;
    padding-top:5px;
  }
  .togsquare{
    left:-6px;
    width:8px;
    height:8px;
    top:calc(50% - 5px);
  }
}
@media (max-width:700px) and (max-height:560px) and (min-height:370px){
  .shuffle{
    font-size:15px;
    line-height:17px;
    width:80px;
    height:50px;
    padding-left:5px;
    padding-top:5px;
  }
  .workplay{
    top:68px;
    right:20px;
    font-size:15px;
    line-height:17px;
    width:80px;
    height:50px;
    padding-left:5px;
    padding-top:5px;
  }
  .togsquare{
    left:10px;
    width:8px;
    height:8px;
    top:calc(50% - 5px);
  }
}

@media (min-width:900px) and (max-width:1000px),(max-width:600px){
  .arrowline{
    width:0px;
  }
  .arrowsvg{
    display:none;
  }
  .square{
    left:-15px;
  }
  .rsquare{
    left:0px;
  }
}

@media (max-width:560px),(max-height:560px) and (max-width:900px){
  .genrehead{
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    height:20px;
  }

  .arrowholder{
    height:20px;
  }
  .arrowline{
    height:20px;
    width:20px;
  }
  .arrowsvg{
    display:inherit;
    height:20px;
  }
  .headbox{
    height:20px;
  }
  .square{
    width:10px;
    height:10px;
    top:calc(50% - 6px);
    left:-14px;
  }
  .rsquare{
    width:10px;
    height:10px;
    top:calc(50% - 6px);
    left:0px;
  }
}
